#gradsky {
	background-color: aqua;
	background-image: linear-gradient(to bottom, #0000ff, #00ffff, #00ff00);
}

#end {
	background-color: black;
	padding: 20px;
	color: white;
}

h1 {
	font-size: 100px;
	background: -webkit-linear-gradient(left, green, lime, aqua, blue);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: white;
}

h3 {
	font-size: 80px;
	color: #00ffff;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: #000000;
}

p {
	font-size: 30px;
}

a:link, a:visited {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  outline: 5px solid white;
}

a:hover, a:active {
  background-color: aqua;
}
