#gradsky {
	background-color: aqua;
	background-image: linear-gradient(to bottom, #0057e3, #80eaff, #80ffa0, #62ff54, #00ff0d, #00ff00);
}

h1 {
	font-size: 100px;
	background: -webkit-linear-gradient(left, green, lime, aqua, blue);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: white;
}

a:link, a:visited {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  outline: 5px solid green;
}

a:hover, a:active {
  background-color: lime;
}
