h1 {
    margin-left: 3%;
}

.typewrite {
    position: static;
}

svg {
    width: 0;
    height: 0;
}

.stats {
    position: absolute;
    bottom: 5%;
    left: 3%;
    width: 40%;
    height: auto;
    -webkit-user-drag: none;
}

.git-readme {
    margin-bottom: 3%;
    -webkit-user-drag: none;
    width: 100%;
}

.git-commit {
    -webkit-user-drag: none;
    width: 100%;
}

#home model-viewer {
	position: absolute;
	left: 20%;
	top: 8%;
	width: 100%;
	height: 100%;
}

#about-animation canvas {
    position: fixed;
    top: 0;
    left: 0;
}